{% extends 'shared/_site.html' %}
{% load thumbnail %}

{% block body %}

<div class="main-content">
    <!-- Banner Section Start -->
    <div class="banner-carousel owl-carousel owl-theme">
        {% for banner in banners %}
            {% thumbnail banner.picture "1440x961" crop="center" format='WEBP' as im %}
                <div class="banner-carousel-style">
                    <div class="banner-content">
                        <p>{{ banner.title }}</p>
                        <button type="button" class="btn btn-success">ورود به استریم</button>
                    </div>
                    <div class="banner-cover-image">
                        <img src="{{ im.url }}" alt="کارتون‌ها" />
                    </div>
                </div>
            {% endthumbnail %}
        {% endfor %}
    </div>
    <!-- Banner Section End -->

    <section class="section-padding">
        <div class="container-fluid container-grid">
            <div class="row justify-content-right">
                <div class="col-xl-8">
                    <div class="heading mb-80 text-right">
                        <h3>
                            <a href="{% url 'pages:blog-post-list'%}">
                                {% trans 'Latest Posts' %}
                            </a>
                        </h3>
                    </div>
                </div>
            </div>

                <div class="row justify-content-center">
                    {% for post in recent_posts %}
                        <div class="col-xxl-3 col-xl-6">
                            <div class="blog-item">
                                <!-- Post Thumbnail -->
                                <div class="post-thumb">
                                    <a href="{% url 'pages:blog-post-detail' post.slug %}">
                                        {% thumbnail post.picture "752x390" crop="center" format='WEBP' as im %}
                                        <img src="{{ im.url }}" alt="{{ post.alternate_text }}" class="img-fluid">
                                        {% endthumbnail %}
                                    </a>
                                </div>

                                <!-- Blog Content -->
                                <div class="blog-content">
                                    <div class="post-meta">
                                        <span class="post-author">by {{ post.author.username|default:"Admin" }}</span>
                                        <span class="post-date"><i class="fa fa-calendar-alt mr-2"></i>
                                            {{ post.created_at|date:"F d, Y" }}</span>
                                    </div>

                                    <h3 class="post-title">
                                        <a href="{% url 'pages:blog-post-detail' post.slug %}">{{ post.title }}</a>
                                    </h3>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                    <!-- BLOG END -->
            </div>
    </section>

    <section class="section-padding">
        <div class="container-fluid container-grid">
            <div class="row justify-content-right">
                <div class="col-xl-8">
                    <div class="heading mb-80 text-right">
                        <h3>
                            <a href="{% url 'pages:gallery-list'%}">
                                {% trans 'Galleries' %}
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
    
            <div class="row justify-content-center">
                {% for gallery in galleries %}
                <div class="col-xl col-lg-3 col-md-6">
                    <div class="course-grid course-style-4 bg-white mb-80 mb-xl-0">
                        <div class="course-header">
                            <div class="course-thumb">
                                {% thumbnail gallery.image "234x250" crop="center" format='WEBP' as im %}
                                    <img src="{{ im.url }}" alt="{{ gallery.alternate_text }}" class="img-fluid">
                                {% endthumbnail %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- COURSE END -->
            </div>
    </section>
</div>

{% endblock %}