{% extends 'shared/_site.html' %}
{% load thumbnail %}

{% block body %}
<div class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-xl-8">
                <div class="post-single">
                    {% thumbnail instructor.profile.picture "1170x600" crop="center" format='WEBP' as im %}
                    <img src="{{ im.url }}" class="img-fluid" alt="{{ instructor.profile.alternate_text }}">
                    {% endthumbnail %}

                    <div class="single-post-content">
                        <div class="post-meta">
                        </div>
                        <h3 class="post-title"> {{ instructor.get_full_name }}</h3>
                        <p>{{ instructor.get_full_name }}</p>

                        <!-- Post Description -->
                        <div class="post-content">
                            {{ instructor.profile.description|safe }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-4">
                <div class="blog-sidebar mt-5 mt-lg-0">

                    <div class="widget widget_tag_cloud">
                        <h4 class="widget-title">{% trans 'Instruments' %}</h4>
                        <ul>
                            {% for instrument in instructor.musical_instruments.all %}
                            <li>{{ instrument.title }}</li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}